.login
  .sign-in
    %h1 Sign In - existing account
    = form_for @user, url: sessions_path do |f|
      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.text_field :password

      = f.submit

  .sign-up
    %h1 Sign Up - register for an account
    = form_for @user, url: users_path do |f|
      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.text_field :password

      = f.label :password_confirmation
      = f.text_field :password_confirmation

      = f.label :birthdate
      = f.date_select(:birthdate, :order => [:month, :day, :year], start_year: start_year, end_year: end_year, prompt: true)

      = f.submit
